<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>EnvironmentVariables</key>
        <dict>
                <key>LANG</key>
                <string>en_US.UTF-8</string>
                <!-- Disable unified logging (os_log) for the agent. On macOS 26 and
                     later, the forked child of a long-running agent crashes in
                     os_log when it resolves an IPv4-only hostname. Note that this
                     also silences syslog(3), so keep logging on the console/file
                     below (see https://github.com/OpenVoxProject/openvox/issues/538). -->
                <key>OS_ACTIVITY_MODE</key>
                <string>disable</string>
        </dict>
        <key>Label</key>
        <string>puppet</string>
        <key>KeepAlive</key>
        <true/>
        <key>ProgramArguments</key>
        <array>
                <string>/opt/puppetlabs/bin/puppet</string>
                <string>agent</string>
                <string>--verbose</string>
                <string>--no-daemonize</string>
                <string>--logdest</string>
                <string>console</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>StandardErrorPath</key>
        <string>/var/log/puppetlabs/puppet/puppet.log</string>
        <key>StandardOutPath</key>
        <string>/var/log/puppetlabs/puppet/puppet.log</string>
        <key>SessionCreate</key>
        <true />
</dict>
</plist>
